/* Write your CSS here */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
  width: 250px;
}
.searchbar {
  display: flex;
  margin: 30px;
  border: none;
}

.searchIcon {
  height: 20px;
  width: 20px;
}
ul {
  list-style: none;
  margin: none;
}
