li {
  list-style: none;
}
.item_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  height: 35px;
  width: 35px;
}
button {
  background-color: transparent;
  border: 0;
}
